@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');

body {

  background: #373A36;

}

.container  {

  position: absolute;

  left: 50%;

  top: 50%;

  transform: translate(-50%, -50%);

  height: 400px;

  width: 600px;

  background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%,  rgba(252,37,103,1) 0%, rgba(250,38,151,1) 46.2%, rgba(186,8,181,1) 90.1% );
  

  overflow: hidden;

  border-radius: 20px;

  cursor: pointer;

  box-shadow: 0 0 10px 4px #d0d0d0;

}



.content {

  position: absolute;

  top: 50%;

  transform: translatey(-65%);

  text-align: justify;

  padding: 40px;

  font-family:  'ğ¹ğ‘œğ“ƒğ“‰ ğ’®ğ“‰ğ“ğ“ğ‘’';

  color: lavender;

}
.image{
    padding-top: 80%;
}
.img{
    padding-left: 79%;
}

h2 {

  font-weight: 900;

  text-align: center;

  color: rgb(77, 17, 20);

}
.ash{

  font-size: 20px;
  color: rgb(71, 5, 5);

}

h4{

  font-weight: 500;

  font-size: 25;
 
  color: rgb(109, 1, 1);

  text-align: center;
}

.flap::before {

  position: absolute;

  content: "";

  height: 100%;

  width: 50%;

  background: url("https://th.bing.com/th/id/OIP.zQdnMvmT8j0R-obdvhL1ywHaFP?pid=ImgDet&rs=1") white;

  background-position: 130px;

  background-repeat: no-repeat;

  transition: 1.5s;

}

.flap::after {

  position: absolute;

  content: "";

  height: 100%;

  width: 50%;

  right: 0;

  background: url("https://th.bing.com/th/id/OIP.zQdnMvmT8j0R-obdvhL1ywHaFP?pid=ImgDet&rs=1") white;

  background-position: -170px;

  background-repeat: no-repeat;

  transition: 1.5s;

}

.container:hover .flap::after {

  transform: translatex(300px);

}

.container:hover .flap::before{

  transform: translatex(-300px);


}